<div class="add__container">
    <div nz-row [nzGutter]="[24,50]">
        <div nz-col nzSpan="12">
            <p class="add__title">Введите данные чтобы создать новую коллекцию для Галереи</p>
        </div>
        <div nz-col nzSpan="24">
            <div nz-row [nzGutter]="[24]">
                <div nz-col nzSpan="12">
                    <form [formGroup]="newGallery">
                        <div nz-row [nzGutter]="[20,20]">
                            <div nz-col nzSpan="24">
                                <div nz-row>
                                    <nz-form-control nzSpan="24" nzHasFeedback>
                                        <input formControlName="title" nz-input placeholder="Введите название товара" class="add__form__input"/>
                                    </nz-form-control>
                                </div>                     
                            </div>
                            <div nz-col nzSpan="24" class="add__upload">
                                <div nz-row>
                                    <nz-upload [(nzFileList)]="photoList" [nzBeforeUpload]="beforeUpload">
                                        <button nz-button [disabled]="this.photoList.length > 4">
                                            <span nz-icon nzType="upload"></span>
                                            Выберите файл
                                        </button>
                                    </nz-upload>
                                </div>                           
                            </div>
                            <div nz-col nzSpan="24">
                                <div nz-row [nzGutter]="20">
                                    <div nz-col>
                                        <button nz-button [nzLoading]="loading" nzType="primary"  class="add__form__buttons add__form__buttons__create" (click)="submit()">Создать</button>
                                    </div>
                                    <div nz-col>
                                        <button nz-button nzType="primary" (click)="reset($event)" class="add__form__buttons add__form__buttons__reset">Очистить</button>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
