<div class="home__wrapper">
    <div class="home__container">
        <div nz-row [nzGutter]="[0,{xl:120,lg:100,md:80,sm:64,xs:64}]">
            <app-introduction nz-col nzSpan="24"></app-introduction>
            <app-partners nz-col nzSpan="24"></app-partners>
            <app-gallery nz-col nzSpan="24"></app-gallery>
            <app-form nz-col nzSpan="24"></app-form>
            <app-collection nz-col nzSpan="24"></app-collection>
            <app-banner nz-col nzSpan="24"></app-banner>
            <app-bestsellers nz-col nzSpan="24"></app-bestsellers>
            <app-about nz-col nzSpan="24"></app-about>
        </div>
    </div>
</div>