<div class="nav__wrapper">
    <div nz-row [nzGutter]="[0,{xl:28,lg:28,md:16,sm:16,xs:16}]" class="nav">
        <div nz-col nzSpan="24">
            <h1 class="nav__title">{{'catalog.title' | translate}}</h1>
        </div>
        <div nz-col nzLg="24" nzXs="0">
            <div nz-row [nzGutter]="[{xl:24,lg:12,md:12,sm:12,xs:12},12]">
                <div nz-col>
                    <button class="nav__button"  [ngClass]="{nav__active: all}" (click)="getCategoryProducts(0); getCategories();">{{'catalog.button' | translate}}</button>
                </div>
                <div nz-col *ngFor="let button of buttons">
                    <button *ngIf="currentLang"  class="nav__button" [ngClass]="{nav__active: button.active}" (click)="getCategoryProducts(button.id)">{{button.title}}</button>
                </div>
                <div nz-col *ngFor="let button of buttons">
                    <button *ngIf="!currentLang"  class="nav__button" [ngClass]="{nav__active: button.active}" (click)="getCategoryProducts(button.id)">{{button.title_uz}}</button>
                </div>
            </div>
        </div>
        <div nz-col nzLg="0" nzXs="24">
            <div nz-row [nzGutter]="[{xl:24,lg:12,md:12,sm:12,xs:12},0]" class="nav__media">
                <div nz-col>
                    <button class="nav__button"  [ngClass]="{nav__active: all}" (click)="getCategoryProducts(0); getCategories();">{{'catalog.button' | translate}}</button>
                </div>
                <div nz-col *ngFor="let button of buttons">
                    <button class="nav__button" [ngClass]="{nav__active: button.active}" (click)="getCategoryProducts(button.id)">{{button.title}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
