<div class="catalog__wrapper">
    <div class="catalog__container">
        <div nz-row [nzGutter]="[0,28]">
            <div nz-col nzSpan="24" class="catalog__crump">
                <app-breadCrump></app-breadCrump>
            </div>
            <div nz-col nzSpan="24">
                <app-filters (shareID)="handleProduct($event)"></app-filters>
            </div>
            <div nz-col nzSpan="24">
                <nz-empty     
                    *ngIf="isEmpty"              
                    [nzNotFoundContent]="contentTpl"
                >
                    <ng-template #contentTpl>
                    <span class="empty__text">
                        {{'empty' | translate}}
                    </span>
                    </ng-template>
                </nz-empty>
                <div *ngIf="!isLoading" class="spin">
                    <nz-spin nzSize="large"></nz-spin> 
                </div>
                <app-cards [products]="products" *ngIf="!isEmpty"></app-cards>
            </div>
        </div>
    </div>
</div>