.catalog {
    &__wrapper {
        padding: 24px 0 120px 0;

        @media (max-width:767px) {
            padding-bottom: 60px;
        }
    }

    &__container {
        max-width: 1320px;
        margin: 0 auto;
    }

    &__crump {
        padding: 0 20px;
    }
}

.spin {
    width: 100%;
    height: 100%;
    pointer-events: unset;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    pointer-events: unset;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    &__text {
        font-size: 28px;
    }
}