<div class="about__wrapper">
    <div nz-row nzJustify="space-between" [nzGutter]="[0,70]">
        <div nz-col class="about__container" *ngFor="let card of cards">
            <div nz-row nzJustify="center" [nzGutter]="[0,24]">
                <div nz-col>
                    <img [src]="card.img">  
                </div>
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="[0,16]" nzJustify="center">
                        <div nz-col nzSpan="24">
                            <div class="about__title">
                                <span>{{card.title | translate}}</span>
                            </div>
                        </div>
                        <div nz-col nzXl="24" nzLg="24" nzMd="24" nzSm="22" nzXs="24">
                            <div class="about__info">
                                <span>{{card.info| translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

