<div nz-row [nzGutter]="[0,{xl:23,lg:16,md:16,sm:16,xs:16}]" (click)="routerNavigate()" class="product">
    <div nz-col nzSpan="24">
        <div class="product__img">
            <img nz-image [nzSrc]="product.photos[0]" [nzFallback]="fallback">
        </div>
    </div>
    <div nz-col nzSpan="24">
        <div nz-row [nzGutter]="[0,8]">
            <div nz-col nzSpan="24">
                <div class="product__title">
                    <h1 nz-typography [nzEllipsis]="true" *ngIf="currentLang">{{product.title}}</h1>
                    <h1 nz-typography [nzEllipsis]="true" *ngIf="!currentLang">{{product.title_uz}}</h1>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div class="product__info">
                    <h2 nz-typography [nzEllipsis]="true" *ngIf="currentLang">{{product.description}}</h2>
                    <h2 nz-typography [nzEllipsis]="true" *ngIf="!currentLang">{{product.description_uz}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>



