<div nz-row [nzGutter]="[0,{xl:23,lg:16,md:16,sm:16,xs:16}]" (click)="routerNavigate()" class="product">
    <div nz-col nzSpan="24">
        <div class="product__img">
            <img nz-image [nzSrc]="product.photos[0]" [nzFallback]="fallback" onerror="this.parentNode.removeChild(this)">
        </div>
    </div>
    <div nz-col nzSpan="24">
        <div nz-row [nzGutter]="[0,8]">
            <div nz-col nzSpan="24">
                <div class="product__title">
                    <span nz-typography [nzEllipsis]="true">{{product.title}}</span>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div class="product__info">
                    <span nz-typography [nzEllipsis]="true">{{product.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>



